@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

body, .container {
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    grid-template-rows: 2fr 8fr;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    background-color: rgb(7, 138, 220);
    font-weight: bold;
}

.left, .right {
    background-color: rgb(224, 229, 229);
}

.left {
    grid-area: 2 / 2 / 3 / 3;
}

.right {
    grid-area: 2 / 3 / 3 / 4;
}

.header {
    grid-area: 1 / 2 / 2 / 4;
    display: grid;
    grid-template-rows: 1fr 2fr;
    justify-items: center;
    border-bottom: 4px rgb(215, 212, 212) solid;
}

.top svg {
    height: 50px;
    margin-right: 10px;
}

.sidebar svg {
    filter: invert(100%);
    margin-right: 15px;
    height: 25px;
}

.top, .item{
    display: flex;
    color: white;
    font-size: 16px;
    align-items: center;
}

.top {
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 15px;
    margin-left: 10px;
}

.actions, .config {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
}

.actions {
    margin-bottom: 50px;
}

.header-top svg {
    filter: invert(0%);
    height: 25px;
}

.header-top-left, .header-top-right, .header-bottom-left, .header-bottom-right {
    gap: 10px;
}

.header-top, .header-top-left, .header-top-right, .header-bottom, .header-bottom-left, .header-bottom-right {
    display: flex;
    align-items: center;
}

.header-top, .header-bottom {
    width: 90%;
    justify-content: space-between;
    font-weight: bold;
}

.header-top-right img {
    height: 40px;
    border-radius: 50%;
}

.header-bottom-left img {
    height: 80px;
    border-radius: 50%;
}

.search {
    width: 330px;
    height: 20px;
    background-color: rgb(224, 229, 229);
    border-radius: 10px;
}

button {
    color: white;
    background-color: rgb(7, 138, 220);
    border: none;
    border-radius: 15px;
    padding: 8px 20px;
    font-weight: bold;
}

.greeting {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#user {
    font-size: 20px;
}

.project {
    background-color: white;
    height: 120px;
    border-radius: 10px;
    border-left: 5px solid rgb(244, 201, 12);
    padding: 10px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.left {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 20px;
}

.right {
    padding-top: 20px;
    padding-right: 10px;
}

.title {
    font-weight: bold;
}

#projects-title, #announcements-title, #trending-title {
    margin-bottom: 10px;
}

.announcements, .trending {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile img {
    height: 40px;
    border-radius: 50%;
}

.desc {
    font-size: 14px;
    color: rgb(91, 91, 91);
}